.main
    flex-grow: 1
    &-wrapper
        margin: 36px 40px 0 32px
    &-topbar
        display: flex
        align-items: center
        justify-content: flex-end
        background-color: #f6f6f6
        height: 56px
        margin-right: 20px
        -webkit-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.75)
        -moz-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.75)
        box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.75)
        &__account
            margin-right: 15px
            cursor: pointer
        &__burger
            display: none

    &-mobile
        &__sidebar
            display: none
        &__burger
            display: none

    &--sidebar

        display: none
@media screen and (max-width: 750px)
    .main
        &-wrapper
            margin: 20px 17px
        &-topbar
            margin-right: 0
            justify-content: space-between
            position: -webkit-sticky
            position: sticky
            top: 0
            z-index: 3
            &__account
                margin-right: 0
                margin-left: 1.7rem
            &__burger
                display: block
                top: 10px
                right: 1.7rem

        &-mobile
            &__sidebar
                display: block
                height: 100%
            &__burger
                display: block
                position: absolute
                top: 20px
                right: 1.7rem

@media screen and (max-width: 576px)
    .main
        &-wrapper
            margin-top: 9px

@media screen and (max-width: 350px)
    .main
        &-wrapper
            margin: 13px
